<%= turbo_frame_tag Todo.new do%>
    <div class="only:flex hidden flex-col space-y-4 w-full justify-center py-10 border-2 border-dashed">  
        <p class="text-center text-2xl font-bold">No Todos Yet</p>
        <div class="text-center">
            <%= link_to "+ New Todo", new_todo_path,class: "px-4 py-2 bg-lime-500 rounded-lg" %>
        </div>
    </div>
<%end%>