<%= form_with model: todo do |f| %>
    <div class="flex flex-row justify-between w-full items-center">
        <div class="basis-1/3">
            <%= f.text_field :todo, placeholder: "Input Todo", class:"w-full" %>
        </div>
        <div class="flex space-x-4 lg:space-x-6 items-center">
            <div class="px-4 py-2 bg-red-500 rounded-lg">
                <%= link_to "Cancel", todos_path %>
            </div>
            <div class="px-4 py-2 bg-lime-500 rounded-lg">
                <%= f.submit %>
            </div>
        </div>
    </div>
<%end%>
