<div class="flex flex-row justify-between">
    <%= link_to todo.todo, todo, class: "text-xl font-semibold" %>
    <div class="flex flex-row justify-between space-x-4">
        <%= link_to "Edit", edit_todo_path(todo),class: "px-4 py-2 bg-amber-500 rounded-lg" %>
        <%= button_to "Delete", todo_path(todo),method: :delete,class: "px-4 py-2 bg-red-500 rounded-lg" %>
    </div>
</div>